@charset "utf-8";
@font-face {
    font-family: 'iconfont';  /* project id 298424 */
    src: url('//at.alicdn.com/t/font_76ywpa78rlyxpqfr.eot');
    src: url('//at.alicdn.com/t/font_76ywpa78rlyxpqfr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_76ywpa78rlyxpqfr.woff') format('woff'),
    url('//at.alicdn.com/t/font_76ywpa78rlyxpqfr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_76ywpa78rlyxpqfr.svg#iconfont') format('svg');
}
.a{
    font-family: 'iconfont';
    font-size: 20px;
    color: #ffb400;
    font-style: normal;
}
.b{
    font-family: 'iconfont';
    font-size: 20px;
    color: #ffb400;
    font-style: normal;
}
.c{
    font-family: 'iconfont';
    font-size: 14px;
    color: #fff;
    font-style: normal;
}
.san{
    font-family: 'iconfont';
    font-size: 21px;
    color: orange;
    font-style: normal;
    margin-left: 8px;
    display: none;
}
.nav-three span {
    display:block;
    width: inherit;
    height: 40px;
    font-size: 14px;
    color: #fff;
    line-height: 40px;
    position: relative;
    top: 15px;
    text-align: left;
    text-indent: 30px;
}
.nav-four{
    width: 220px;
    height: 430px;
    background: #000;
    position: absolute;
    top: 67px;
    opacity: .7;
    display: none;
}
.nav-four span {
    display:block;
    width: inherit;
    height: 40px;
    font-size: 14px;
    color: #fff;
    line-height: 40px;
    position: relative;
    top: 15px;
    text-align: left;
    text-indent: 30px;
}
.nav-1{
    width: 220px;
    height: 110px;
    background: #000;
    position: absolute;
    top: 67px;
    opacity: .7;
    right:0;
    display: none;
}
.nav-1 span {
    display: block;
    width: inherit;
    height: 40px;
    font-size: 14px;
    color: #fff;
    line-height: 40px;
    position: relative;
    top: 15px;
    text-align: left;
    text-indent: 30px;
}
.nav-two{
    width: 215px;
    height: 163px;
    background: #000;
    position: absolute;
    top: 67px;
    opacity: .7;
    display: none;
}
.nav-three{
    width: 215px;
    height: 200px;
    background: #000;
    position: absolute;
    top: 67px;
    opacity: .7;
    display: none;
}
.nav-two span {
    display:block;
    width: inherit;
    height: 40px;
    font-size: 14px;
    color: #fff;
    line-height: 40px;
    position: relative;
    top: 15px;
    text-align: left;
    text-indent: 30px;
}
.nav-two span:hover{
    background:#ffb300;
}
.nav-three span:hover{
    background:#ffb300;
}
.nav-four span:hover{
    background:#ffb300;
}
.nav-1 span:hover{
    background:#ffb300;
}
.sty:hover{
    background-color:#ffb300;
}
.h:hover .nav-two{
    display:block;
}
.a:hover .nav-three{
    display:block;
}
.cc:hover .nav-four {
    display: block;
}
.d:hover .nav-1{
    display:block;
}

